html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.welcome-text {
    /* display: block; */
    opacity: 0.8;
    background-color: black;
    font-weight: 500;
    font-size: xx-large;
    padding: 1rem;
}

.welcome-home {
    padding: 5rem;
    padding-top: 5.5rem;
    text-align: center;
    color: white;
    left: 20%;
    background-image: url('../public/concert.png');
    /* background-image: url('../public/con2.png'); */
    /* opacity: 0.5; */
    /* background-color: black; */
}

.card {
    position: relative;
    cursor: pointer;
}

.readmore {
    color: blue;
}

.card-body hr {
    width: 15rem;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 40;
    border: 2px solid rgb(100, 22, 124);
}

.footer {
    /* position: fixed; */
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    padding: 3rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
    background-color: #e3f2fd;
    align-items: baseline;
}

.alert-danger {
    display: inline-block;
}

.card-body {
    min-height: 1rem;
    background-color: #e3f2fd;
    padding: 0.5rem;
}

.card-title {
    padding: 0.5rem;
}

.card-text {
    margin: 1.5rem 0;
    min-height: 15.7rem;
}

.text {
    margin: 0.5rem;
}

div.no-event {
    height: 100%;
    width: 100;
    margin-top: 10rem;
    align-content: center;
    text-align: center;
}

.list-group-item {
    height: 8rem;
}

.learnmore {
    position: absolute;
    bottom: 1rem;
    /* color: orange; */
    background-color: rgb(100, 22, 124);
    text-align: center;
}

.ticketleft {
    position: absolute;
    bottom: 0.45rem;
    right: 2rem;
    color: #007bff;
}

.signup,
.signin {
    margin-left: 0.5rem;
}

.space {
    position: relative;
    padding: 5rem;
}

.event-date {
    position: absolute;
    right: 5rem;
}

.event-ticket {
    position: relative;
    color: #007bff;
    font-size: larger;
    /* right: 5rem; */
}

.event-price {
    position: relative;
    font-size: larger;
    /* right: 5rem; */
}

.purchase {
    position: relative;
}

button {
    margin: 1rem;
}

.event-name-order {
    color: #007bff;
}

.event-name-order {
    color: #007bff;
}

.order-title {
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}