@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;
    background-color: #3a3c3f;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.welcome-text {
    position: relative;
    display: block;
    margin: auto;
    color: white;
    text-align: center;
    /* background-color: black; */
    font-weight: 500;
    font-size: xx-large;
    padding: 1rem;
}

.welcome-home {
    position: absolute;
    /* padding: 10rem; */
    /* padding-top: 5.5rem; */
    /* text-align: center; */
    /* color: white; */
    /* left: 20%; */
    /* background-image: url('../public/concert.png'); */
    background-image: url('../public/concert-pro.png');
    /* opacity: 0.5; */
    /* background-color: black; */
    min-height: 37.5rem;
    width: 100%;
}

.createdby {
    position: absolute;
    color: white;
    right: 3rem;
    bottom: 2rem;
}

.search-bar {
    position: relative;
    opacity: 0.7;
    padding: 0.1rem;
    background-color: black;
    text-align: center;
    top: 30rem;
}

.search-input,
.search-input:focus {
    /* position: relative; */
    background: black;
    padding: 0.1rem;
    outline: none;
    font-size: 16px;
    float: left;
    color: white;
}

label {
    color: white;
    display: inline;
}

input,
textarea,
textarea:focus,
input:focus {
    /* position: relative; */
    background: black;
    outline: none;
    /* font-size: 16px; */
    /* float: left; */
    color: white;
}

.search-input::placeholder {
    /* position: absolute; */
    /* background-color: black; */
    /* opacity: 0.7; */
    background: none;
    color: white;
}

.content {
    position: relative;
    top: 35rem;
    padding: 0;
}

div.no-event {
    height: 100%;
    width: 100;
    align-content: center;
    text-align: center;
}

.card {
    position: relative;
    cursor: pointer;
    min-width: 18rem;
    width: 18rem;
    max-width: 18rem;
    max-height: 21rem;
}

.readmore {
    color: blue;
}

hr {
    border: 1px solid white;
}

.card-body hr {
    width: 15rem;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 40;
    border: 2px solid rgb(100, 22, 124);
}

.footer {
    /* position: fixed; */
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    padding: 3rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
    background-color: #e3f2fd;
    align-items: baseline;
}

.alert-danger {
    display: inline-block;
}

.card-body {
    min-height: 1rem;
    background-color: #252525;
    padding: 0.5rem;
}

.card-title {
    padding: 0.5rem;
}

.card-text {
    margin: 1.5rem 0;
    min-height: 15.7rem;
}

.text-card {
    margin: 0.5rem;
}

.list-group-item {
    height: 8rem;
}

.learnmore {
    position: absolute;
    bottom: 1rem;
    /* color: orange; */
    background-color: rgb(100, 22, 124);
    text-align: center;
}

.ticketleft {
    position: absolute;
    bottom: 0.45rem;
    right: 2rem;
    color: #007bff;
}

.signup,
.signin {
    margin-left: 0.5rem;
}

.space {
    position: relative;
    padding: 5rem;
}

.event-date {
    position: absolute;
    right: 5rem;
}

.event-ticket {
    position: relative;
    color: #007bff;
    font-size: larger;
    /* right: 5rem; */
}

.event-description {
    margin-left: '5rem';
    font-size: 'large';
}

.event-price {
    position: relative;
    font-size: larger;
    /* right: 5rem; */
}

.purchase {
    position: relative;
    margin: auto 1rem;
    padding: auto 0.75rem;
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.8rem;
}

button.nav-link {
    background-color: rgb(100, 22, 124);
    margin: 0.25rem 0.5rem;
    color: white;
    border-radius: 0.8rem;
}

button.nav-link:hover {
    background-color: rgb(81, 23, 99);
    margin: 0.25rem 0.5rem;
    color: white;
    border-radius: 0.8rem;
}

button.signin {
    background-color: white;
    color: rgb(81, 23, 99);
}

button.signin:hover {
    background-color: rgb(81, 23, 99);
    color: white;
}

.event-name-order {
    color: #007bff;
}

.event-name-order {
    color: #007bff;
}

.order-title {
    margin: 2rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.list-group-item {
    background-color: #252525;
    color: white;
}

button.page-up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    border-radius: 2rem;
}

.handle-error {
    position: absolute;
    top: 300rem;
    margin: auto 100rem;
}

@media only screen and (max-width: 600px) {
    .event-date {
        position: relative;
        margin: auto;
        right: unset;
        margin-bottom: 1rem;
    }
    .event-description {
        margin: 1px;
        font-size: medium;
    }
}